spring:
  config:
    import: "optional:file:env.properties"
  application:
    name: im-booked
  datasource:
    url: ${DB_URL}
    username: ${DB_USER}
    password: ${DB_PASSWORD}
  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: true
  flyway:
    enabled: true
    clean-disabled: false
  jwt:
    secret: ${JWT_SECRET}
